@model Back.Models.Usuario

@{
    ViewBag.Title = "ListaDeChats";
}

<h2>ListaDeChats</h2>
<ul>
    @foreach (var item in Model.Contactos)
    {
    <li>
        @item : @Html.ActionLink("Modificar Datos", "Modificar");
    </li>
    }
</ul>
@Html.ActionLink("Modificar Datos", "Modificar");

