@model Back.Models.Mensaje

@{
    ViewBag.Title = "VerChat";
}

<h2>@Model.Receptor</h2>
<table class="table">
    <tr>
        <th>
            @Model.Emisor
        </th>


        <th>
            @Model.Receptor
        </th>
    </tr>
    @foreach (var item in Model.EmisorMen.Keys)
    {
    <tr>
        <td>
asdasdasd
        </td>

        <td>
asdasdasd
            
        </td>
    </tr>       
    }
</table>

<textarea id="Hola" placeholder="EscribaMensaje..."></textarea>
























.
<style>
    #Hola {
        width: 800px;
        height: 100px;
        position:fixed;
        left: 15%;
        top: 80%;
    }
    #cuadro {
        background-color :black;
    }
    

</style>

